
extends templates/layout
block vars
  - var title = 'BOOKS'

block content
  .main-wrapper
    header.header
    main.main-content
      p.text.head People

      .table
        .th
          .td.person
          .td.ideas
            p.text.table-head Ideas
          .td.following
            p.text.table-head Following
          .td.followers
            p.text.table-head Followers
        .tr
          .td.person
            .person-photo(style="background-image: url(dist/img/person.png)")
            .person-info
              a.person-name(href="#") John Adams
              .person-stats
                p.text.with-icon 102
            .person-button-holder
              a.person-button(href="#")
                span.follow-text Follow
                span.unfollow-text Unfollow
          .td.ideas
            p.text.cell-text 50
          .td.following
            p.text.cell-text 50
          .td.followers
            p.text.cell-text 50
        .tr
          .td.person
            .person-photo(style="background-image: url(dist/img/person.png)")
            .person-info
              a.person-name(href="#") John Adams
              .person-stats
                p.text.with-icon 102
            .person-button-holder
              a.person-button(href="#")
                span.follow-text Follow
                span.unfollow-text Unfollow
          .td.ideas
            p.text.cell-text 50
          .td.following
            p.text.cell-text 50
          .td.followers
            p.text.cell-text 50

        .tr
          .td.person
            .person-photo(style="background-image: url(dist/img/person.png)")
            .person-info
              a.person-name(href="#") John Adams
              .person-stats
                p.text.with-icon 102
            .person-button-holder
              a.person-button(href="#")
                span.follow-text Follow
                span.unfollow-text Unfollow
          .td.ideas
            p.text.cell-text 50
          .td.following
            p.text.cell-text 50
          .td.followers
            p.text.cell-text 50
        .tr
          .td.person
            .person-photo(style="background-image: url(dist/img/person.png)")
            .person-info
              a.person-name(href="#") John Adams
              .person-stats
                p.text.with-icon 102
            .person-button-holder
              a.person-button(href="#")
                span.follow-text Follow
                span.unfollow-text Unfollow
          .td.ideas
            p.text.cell-text 50
          .td.following
            p.text.cell-text 50
          .td.followers
            p.text.cell-text 50
        .tr
          .td.person
            .person-photo(style="background-image: url(dist/img/person.png)")
            .person-info
              a.person-name(href="#") John Adams
              .person-stats
                p.text.with-icon 102
            .person-button-holder
              a.person-button(href="#")
                span.follow-text Follow
                span.unfollow-text Unfollow
          .td.ideas
            p.text.cell-text 50
          .td.following
            p.text.cell-text 50
          .td.followers
            p.text.cell-text 50
        .tr
          .td.person
            .person-photo(style="background-image: url(dist/img/person.png)")
            .person-info
              a.person-name(href="#") John Adams
              .person-stats
                p.text.with-icon 102
            .person-button-holder
              a.person-button(href="#")
                span.follow-text Follow
                span.unfollow-text Unfollow
          .td.ideas
            p.text.cell-text 50
          .td.following
            p.text.cell-text 50
          .td.followers
            p.text.cell-text 50

        .tr
          .td.person
            .person-photo(style="background-image: url(dist/img/person.png)")
            .person-info
              a.person-name(href="#") John Adams
              .person-stats
                p.text.with-icon 102
            .person-button-holder
              a.person-button(href="#")
                span.follow-text Follow
                span.unfollow-text Unfollow
          .td.ideas
            p.text.cell-text 50
          .td.following
            p.text.cell-text 50
          .td.followers
            p.text.cell-text 50
        .tr
          .td.person
            .person-photo(style="background-image: url(dist/img/person.png)")
            .person-info
              a.person-name(href="#") John Adams
              .person-stats
                p.text.with-icon 102
            .person-button-holder
              a.person-button(href="#")
                span.follow-text Follow
                span.unfollow-text Unfollow
          .td.ideas
            p.text.cell-text 50
          .td.following
            p.text.cell-text 50
          .td.followers
            p.text.cell-text 50

      .expand-button Show more

  footer.footer
